@import '../../global.scss';

.skills {
  background-color: $darkpurple;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  text-align: center;

  @include mobile {
    width: 90%;
    overflow: hidden;
  }
  
  .text {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 40px;

    h1 {
      font-size: 70px;
      
      @include mobile {
        width: 100%;
        font-size: 40px;
      }
    }
    
    p {
      width: 45%;
      font-size: 25px;
      
      @include mobile {
        width: 100%;
        font-size: 20px;
      }
    }
  }
    
    .iconContainer {
    // padding: 0px;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @include mobile {
      width: 90%;
      font-size: 40px;
    }

    i {
      font-size: 100px;
      padding: 10px;

      @include mobile {
        font-size: 45px;
      }

      &:hover {
        font-size: 110px;
        box-shadow: 0px 0px 5px #fff;
        animation: box-shadow 2s ease-in-out;
        border-radius: 5px;
      }
    }
  }
 
}
hr {
  overflow: visible;
  height: 30px;
  border: white solid;
  border-width: 1px 0 0 0;
  border-radius: 20px;

}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border: white solid;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}