@import '../../global.scss';

.contact {
  background-color: $lightpurple;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  .container {
    width: 35%;
    
    h1 {
      font-size: 70px;
    }

    h3 {
      font-size: 25px;
    }
    
    a {
      color: white;
    }
  }
}